<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.supermarket.dao.GoodsTypeMapper">
    <resultMap id="BaseResultMap" type="com.xxxx.supermarket.entity.GoodsType">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="p_id" jdbcType="INTEGER" property="pId"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, p_id, state, icon
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_goods_type
        where id = #{id,jdbcType=INTEGER}
    </select>
    <!--删除商品类别-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_goods_type
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.xxxx.supermarket.entity.GoodsType">
        insert into t_goods_type (id, name, p_id,
                                  state, icon)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{pId,jdbcType=INTEGER},
                #{state,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.xxxx.supermarket.entity.GoodsType">
        insert into t_goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="pId != null">
                p_id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="icon != null">
                icon,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                #{pId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.supermarket.entity.GoodsType">
        update t_goods_type
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pId != null">
                p_id = #{pId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xxxx.supermarket.entity.GoodsType">
        update t_goods_type
        set name  = #{name,jdbcType=VARCHAR},
            p_id  = #{pId,jdbcType=INTEGER},
            state = #{state,jdbcType=INTEGER},
            icon  = #{icon,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--查询所有的商品类别-->
    <select id="queryAllGoodsTypes" resultType="com.xxxx.supermarket.dto.TreeDto">
        select id, name, p_id as pId
        from t_goods_type
    </select>

    <!--查询所有的表格数据-->
    <select id="queryGoodsTypeList" resultType="com.xxxx.supermarket.entity.GoodsType">
        select
        <include refid="Base_Column_List"></include>
        from
        t_goods_type
    </select>

    <!--把id当做父级id(pId)查询父级类别下是否存在子类-->
    <select id="queryGoodsTypeByParentId" parameterType="int" resultType="Integer">
        select count(1)
        from t_goods_type
        where p_id = #{id}
    </select>

    <!--添加商品类别-->
    <insert id="insertGoodsType" parameterType="com.xxxx.supermarket.entity.GoodsType">
        insert into t_goods_type (name, p_id, state)
        values (#{name,jdbcType=VARCHAR},
                #{id,jdbcType=INTEGER},
                #{state,jdbcType=INTEGER})
    </insert>
</mapper>